body {
  background: #f4fcef;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  font-size: 48px;
  margin: 30px 0;
}
a {
  color: seagreen;
}
a:not([href]):not([class]) {
  color: seagreen;
  text-decoration: none;
}
a:not([href]):not([class]):hover {
  color: white;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
