.Dictionary section {
  background-color: white;
  padding: 30px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.Dictionary input {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ddd;
  color: #333;
}
.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
  font-style: italic;
}
.Dictionary .greeting {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 5px;
  font-family: "Source Sans Pro", sans-serif;
}
