.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  color: #023c40;
}
.Meaning .example {
  font-size: 16px;
  color: #70757a;
  font-style: italic;
  margin-top: 10px;
  margin-left: 30px;
  font-family: "Inconsolata", monospace;
}
.Meaning .definition {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}
