.Phonetic {
  height: 30px;
}
.Phonetic a {
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  margin-right: 10px;
}
.Phonetic a:hover {
  background-color: seagreen;
  color: white;
}
.Phonetic .text {
  opacity: 0.7;
}
